    nav.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }    
    
   a.navbar-brand {
      padding: 0px;
    }
	
   a.navbar-brand>img {
      height: 100%;
      padding: 15px;
      width: auto;
    }
    
	.container{	   
	   margin: 20px auto;	   
	   box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
	   padding: 20px;	   
	   background-color: rgba(255,255,255,0.5);
	}
	
	div#main{ 
	   background: url('../img/logo.gif')center center fixed no-repeat;
	   width:100%;
	   background-size:contain;
	}
	
	form.form-horizontal .control-label{
       text-align: left;
    }	
	
	input.form-control,select.form-control,textarea.form-control,div.panel{background-color:rgba(255,255,255,0.7);}
	
	textarea{resize:none}
	
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .row.content {height:auto;} 
    }
	
    #datepicker > span:hover{cursor: pointer;}
	
	div#slct,div#pslct{padding-left:0px;}
	
	span.input-group-addon{background-color:transparent;}
	
	span#rel,span#ped,span#prd,span#wkl,span#abt{border-radius:50%;}
	
	div#lini{
    border:1px solid black;
	border-radius:50%;
	margin:10px auto;
	background:url('../wed_logo.png') center no-repeat;
	width:100px;
	height:100px;
	background-size:contain;
    }
    div#eor{
	 border:1px solid black;
	 border-radius:50%;
	 width:30px;
	 height:30px;
	 padding:3px;
	}
	div.fpg{		
	min-height:100vh;	
	}
	
	div#fcon{
	margin-top:5%;	
	padding-bottom:5%;
	}
	
	li.decor,span.decor{
    color:white;
    padding:13px;
    font-size:80%;
    font-family:verdana;
    }
	
	select#country2,select#state2,select#city2,select#hour,select#minute,select#meridiem,div#hght,div.hght,div#ctmr,select#M_COUNTRYCODE,div#numr,
	select#PM_COUNTRYCODE,div#pnumr,select#brthr,select#brthr2,select#sistr,select#sistr2,select#country3,select#state3,select#city3,
	div#copr,div#colt,div.tpa{margin-top:7px;}
	
	div#profpic{
	margin:10px auto;	
	background:url('/Data/img/profpic.png') center no-repeat;
	width:100px;
	height:100px;
	background-size:contain;
	}